#circle-1 {
    background: radial-gradient(at left top, var(--color-1_circle-1),
            var(--color-2_circle-1), var(--color-3_circle-1),
            var(--color-4_circle-1), var(--color-5_circle-1), var(--color-6_circle-1));
    border-radius: 50%;
    filter: blur(10px);
    z-index: -10;
    width: 500px;
    height: 500px;
    position: fixed;
    animation: circle-1 15s linear 0s infinite normal none;
}
#circle-2 {
    background: radial-gradient(at left top, var(--color-1_circle-2),
            var(--color-2_circle-2), var(--color-3_circle-2));
    border-radius: 50%;
    filter: blur(10px);
    z-index: -10;
    width: 300px;
    height: 300px;
    position: fixed;
    animation: circle-1 15s linear 0s infinite normal none;
}
#circle-3 {
    background: radial-gradient(at left top, var(--color-1_circle-3),
            var(--color-2_circle-3), var(--color-3_circle-3));
    border-radius: 50%;
    filter: blur(10px);
    z-index: -10;
    width: 200px;
    height: 200px;
    position: fixed;
    animation: circle-1 15s linear 0s infinite normal none;
}

@keyframes circle-1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}