#CardSect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: 300px;
    gap: clamp(3rem, 2vw, 20px);
}

#cardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cc {
    width: 300px;
}

.arrow:active {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset 9.91px 9.91px 15px #CACACA, -9.91px -9.91px 15px #F2F2F2;
}
.arrow:hover {
    color: var(--Font-Nav);
}
.card {
    width: 230px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
}

.card:last-child {
    justify-content: flex-end;
}

.card-img {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--main-color);
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color-sub);
}

.card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}

.card-price span {
    font-weight: 500;
    color: var(--main-color-sub);
}

.card-btn {
    height: 35px;
    padding: 1px 15px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.card-btn {
    color: var(--main-color);
    transition: all 0.3s;
}

.card-img:hover {
    transform: translateY(-3px);
}

.card-btn:hover {
    border: 2px solid var(--Font-Nav);
}

.card-btn:hover {
    color: var(--Font-Nav);
}

.card-btn:active {
    transform: translateY(3px);
}