#divTitle{
    padding-left: clamp(0.5rem, 1vw, 2rem);
}
.titleCatt,.iconCatt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: clamp(48px, 2vw, 5rem);
    font-weight: 600;
    color: var(--Font-Nav);
}
.faHandPointUp{
    padding: 0 0 0 8px;
}